
.banner{
	width:100%;
	height:100vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/cms1.png);
	background-size:cover;
	color:white;
}
.banner1{
	width:100%;
	height:100vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/userhome.jpg);
	background-size:cover;
	color:white;
}
h2{
     color: White; 
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 4s steps(80, end); 
   transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
  from {
      width: 0;
     transition: all 2s ease-in-out;
  } 
}
/*  SideBar Style */

@media only screen and (max-width:600px){
	.sidebar{
	display:none;
	width:80% !important;
	background:white;
	height:100%;
	position:fixed;
	padding-top:45px;
	
}
.content{
	margin-left:0% !important;
}
}


.sidebar{
	width:18%;
	background:white;
	height:100%;
	position:fixed;
	padding-top:45px;
	z-index:99999999999999999999999999999999999999;
	
}
.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	color:grey;
	
}
.sidebar a:hover{
	background:#e2e2e2;
}

.content{
	margin-left:20%;
	
}
.sidebar .crossBtn{
	position:absolute;
	top:0;
	right:35px;
	font-size:36px;
	cursor:pointer;
}