<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This Is Home Page</title>
</head>
<body>
           <section class="banner d-flex justify-content-center align-items-center">
             <div class="text-center">
                  <h1>Welcome to Clinic Management System – your gateway to seamless healthcare management!</h1>
                  
<p>

Whether you're a patient, doctor, or administrator, our platform is designed to make healthcare simpler, faster, 
and more accessible. Easily book appointments, access medical records, manage prescriptions, 
and much more—all in one place.

Your health, our priority. Explore the tools and services we offer to ensure your care journey is smooth and hassle-free.
 Ready to experience healthcare at your fingertips?

Login now or sign up to get started!

Because your well-being matters, every moment.</p>
                    
                    <p>
                    </p>
                  <!--    <a th:href="@{/user/index}">  <button class="btn bg-primary btn-lg text-white" th:href="@{/user/index}">Get Started</button>
                    </a> -->
                   
                    
             </div>
           </section>
             
</body>
</html>